.metadata/
.mcuxpressoide_packages_support/
Medicine_Dispenser/Debug/
FreeRTOS_TAD_logs
ZephyrRTOS_TAD_logs
AzureRTOS_TAD_logs
Medicine_Dispenser/Medicine_Dispenser LinkServer Debug.launch
.settings/
